data/src/flows/Sustainability_Survey-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>chcBikepool</name>
        <choiceText>Bikepool</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bikepool</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcCarpool</name>
        <choiceText>Carpool</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Carpool</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcVanpool</name>
        <choiceText>Vanpool</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vanpool</stringValue>
        </value>
    </choices>
    <choices>
        <name>optAmericas</name>
        <choiceText>Americas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Americas</stringValue>
        </value>
    </choices>
    <choices>
        <name>optEMEA</name>
        <choiceText>EMEA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EMEA</stringValue>
        </value>
    </choices>
    <choices>
        <name>optOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Park_n_Ride</name>
        <choiceText>Park-n-Ride</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Park-n-Ride</stringValue>
        </value>
    </choices>
    <description>Exercise #3: Workflow Sustainability Survey</description>
    <label>Sustainability Survey</label>
    <recordLookups>
        <name>Lookup_User_Information</name>
        <label>Lookup_User_Information</label>
        <locationX>210</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>User_Region</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>210</locationX>
        <locationY>130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>FaultMessage</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>502</locationX>
        <locationY>30</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ThankYouText</name>
            <fieldText>Thank you {!varUserName} for the information. 

Email: {!Email}
Region: {!Region}
Commute Preference: {!Commute_Preference}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>User_Region</name>
        <label>Capture User Information</label>
        <locationX>353</locationX>
        <locationY>28</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <fields>
            <name>User_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varUserName</elementReference>
            </defaultValue>
            <fieldText>User Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varEmail</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please enter a valid email address</errorMessage>
                <formulaExpression>REGEX({!Email}, &apos;([a-zA-Z0-9_\\-\\.]+)@((\\[a-z]{1,3}\\.[a-z]{1,3}\\.[a-z]{1,3}\\.)|(([a-zA-Z0-9\\-]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})&apos;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Region</name>
            <choiceReferences>optAmericas</choiceReferences>
            <choiceReferences>optEMEA</choiceReferences>
            <choiceReferences>optOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Region</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Commute_Preference</name>
            <choiceReferences>chcVanpool</choiceReferences>
            <choiceReferences>chcCarpool</choiceReferences>
            <choiceReferences>chcBikepool</choiceReferences>
            <choiceReferences>Park_n_Ride</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Commute Preference</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Lookup_User_Information</startElementReference>
    <variables>
        <description>Email address defaulted from user info</description>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input parameter to this flow</description>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>User&apos;s name</description>
        <name>varUserName</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
