data/src/flows/Tip_Calculator-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>Suggested_Tip_Percentage</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>15.0</numberValue>
        </value>
    </constants>
    <description>A reusable tip calculator; Optionally get the Account Id to default Name &amp; Billing Address.</description>
    <formulas>
        <name>forTipValue</name>
        <expression>ROUND(BLANKVALUE({!Bill_Amount},0)*BLANKVALUE({!Tip_Percentage},0)/100,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forTotalBillingAmount</name>
        <expression>BLANKVALUE({!forTipValue},0)+BLANKVALUE({!Bill_Amount},0)</expression>
        <scale>2</scale>
    </formulas>
    <label>Tip Calculator</label>
    <recordLookups>
        <name>Get_Account_Information</name>
        <label>Get Account Information</label>
        <locationX>127</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Gather_Billing_Information</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varBillingCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBillingCountry</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBillingPostalCode</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBillingState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBillingStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCustomerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCustomerPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>127</locationX>
        <locationY>148</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>FaultMessage</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Gather_Billing_Information</name>
        <label>Gather Billing Information</label>
        <locationX>292</locationX>
        <locationY>39</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Show_Billing_and_Tip</targetReference>
        </connector>
        <fields>
            <name>Customer_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varCustomerName</elementReference>
            </defaultValue>
            <fieldText>Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Billing_Address</name>
            <defaultValue>
                <stringValue>{!varBillingStreet}
{!varBillingCity},{!varBillingState} {!varBillingPostalCode}
{!varBillingCountry}</stringValue>
            </defaultValue>
            <fieldText>Customer Billing Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Bill_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Bill Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Tip_Percentage</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Suggested_Tip_Percentage</elementReference>
            </defaultValue>
            <fieldText>Tip %</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Show_Billing_and_Tip</name>
        <label>Show Billing and Tip</label>
        <locationX>457</locationX>
        <locationY>39</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>DisplayTotalBilling</name>
            <fieldText>Thanks you {!varCustomerName}. 
Your Tip: {!forTipValue}. 
Your Billing Total: {!forTotalBillingAmount}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_Account_Information</startElementReference>
    <variables>
        <description>This will typically a parameter passed to this flow</description>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillingCity</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillingCountry</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillingPostalCode</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillingState</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillingStreet</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Customer Name</description>
        <name>varCustomerName</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomerPhone</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
